<!-- MohamedRouias -->
<div class="container-fluid">
    <div class="row align-items-center">
        <!-- Texto -->
        <div class="col-md-6">
            <div>
                <h1 class="fw-bold">
                    <strong>This First Heading</strong> <span class="fw-light">Will Catch Your Eye</span>
                </h1>
                <p class="text-muted">
                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                    commodo.
                </p>
            </div>
            <!-- Imagen -->
            <div class="col-md-6 text-center">
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/88d47307-bef1-4f84-9585-7563e6851c7b/d4cqcdz-9b6d05ac-a4cb-40b8-9710-a8eae247c96b.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzg4ZDQ3MzA3LWJlZjEtNGY4NC05NTg1LTc1NjNlNjg1MWM3YlwvZDRjcWNkei05YjZkMDVhYy1hNGNiLTQwYjgtOTcxMC1hOGVhZTI0N2M5NmIuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ShztH2YttIYYvTV_zU-UKCEfhI-ZGLKirN48Vpb2T9I"
                    alt="Walter White" class="rounded-img">
            </div>
        </div>

    </div>
</div>