<!-- Jesus-4geeks -->
<nav class="navbar">
    <div class="container-fluid">

        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center gap-1" href="#">
            Start Bootstrap
        </a>

        <!-- Lo que haya en la navbar (create post, menu...) -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav align-items-center">

                <!-- Boton verde -->
                <li class="nav-item active">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#Modal">
                        <span class="btn btn-primary">
                            Create a new post
                        </span>
                    </a>
                </li>

                <!-- Modal -->
                <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ModalLabel">
                                    Create a new post
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body mb-3">
                                <form>
                                    <div class="mb-3">
                                      <label for="message-text" class="col-form-label fw-semibold">Caption:</label>
                                      <textarea class="form-control" id="message-text" placeholder="Add the caption of your post here"></textarea>
                                    </div>
                                    <span class="btn btn-light border"><i class="fa-solid fa-camera"></i></span>
                                    <span class="btn btn-light border"><i class="fa-solid fa-location-dot"></i></span>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success">Publish</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Menu con dropdown -->
                <li class="nav-item dropdown">

                    <!-- Link/Boton "Menu" -->
                    <a class="nav-link dropdown-toggle btn btn-secondary rounded px-3" href="#" id="navbarDropdownMenuLink"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-gear"></i>
                    </a>

                    <!-- Menu desplegable como tal -->
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Accesibility</a>
                        <a class="dropdown-item" href="#">Privacy and Data</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>