<!-- MohamedRouias-->

<div class="container mx-auto">
    <div class="row my-4 mx-auto">
        <!-- Imagen -->
        <div class="col-md-3 mx-auto">
            <img src="/website/assets/img/2.jpg" alt="Walter White" class="rounded-img">
        </div>
        <!-- Texto -->
        <div class="col-md-9 mx-auto" style="width: 70%;">
            <div>
                <h1>
                     The Second Heading <span class="second-header">Is Pretty Cool Too.</span>
                </h1>
                <p class="fw-light text-start">
                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                    commodo.
                </p>
            </div>

        </div>

    </div>
</div>

